
/* header */

.Topbanner{
    height: 100px;
    background-image: url('../img/pattern.png');
    background-size: contain;
    background-color: cornflowerblue;
}

.Logo{

    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 1px;
    width: 150px;
    height: 150px;
}
/* Main */

/* Top section */

.Maintitle{
    font-size:  30px;
}

.WriterInfo{
    color: rgb(133, 129, 129);
}

.WriterInfo .Decoration{
    color:deepskyblue;
}
/* Paragraph section */

.Paragraphsection{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;;
}

.Paragraphsection .Highlighter{
    background-color: yellow;
}
/* Table */

.Tabletop{
    background-color: rgb(36, 154, 175);
}
.Spacedlorem, .Shortlorem{
    width: 500px;
    text-align: center;
    background-color: cadetblue;
}

.Spacedlorem-white, .Shortlorem-white{
    width: 500px;
    text-align: center;
}
/* Last section */

.Other{
    color: grey;
}

.Otherarticles1{
    width: 300px;
    height: 200px;
    background-image:url('../img/monitor.jpg');
}

.Otherarticles2{
    width: 300px;
    height: 200px;
    background-image:url(../img/graph.jpg)
}

.Articlesname{
    text-align: center;
}


